*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  font-family: "LXGW WenKai TC", cursive;
}


  /*CLASSES AUXILIARES*/
.clear{
  clear: both;
}
.w33{
  float: left;
  width: 33.3%;
  display: inline-block;
}
.container{
max-width: 1480px;
width: 100%;
margin: 0 auto;
}
.lxgw-wenkai-tc-regular {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
}



  /*ESTILIZAÇÃO DO CABEÇALHO E MENU*/
header{
padding:20px 2%;
}
header .logo img{
float: left;
width: 236px;
}
header .desktop nav{
  float: right;
}
header .desktop nav ul{
  list-style-type: none; 
  position: relative;
  right: 10%;
}
header .desktop nav ul li{
  float: left;  
}
header .desktop .selec{
  border-bottom: 3px solid #3085fc;
}
header .desktop nav ul li a{
  color: black;
  font-size: 22px;
  text-decoration: none;
  position: relative;
  top: 20px;
  padding: 30px;
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 300;
  color: #ea45b0;
}
header .desktop nav ul li:last-child a{
  color: white;
  padding: 20px;
  background-color: #eb0099;
  border-radius: 8px;
}
header .mobile > img{
  float: right;
  width: 40px;
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
header .mobile nav{
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
  padding: 2%;
  display: none;
}
header .mobile nav ul li{
 list-style-type: none;
 border: 2px solid rgb(61, 61, 61);
 margin:  1px;
 text-align: center;
}
header .mobile nav ul li a{
  text-decoration: none;
  font-size: 20px;
}
header .mobile .selec {
  font-weight: bolder;
  text-shadow: 1px 1px 20px rgb(248, 0, 174);
}
  




  /*CAMPO DE ICONES E BOTÔES*/
section.camp-icon{
  background-color:#3085fc;
}
section.camp-icon .container{
 max-width: 830px;
} 
section.camp-icon .container .icones{
  padding: 20px 2%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
} 
section.camp-icon .icon{
  padding: 20px 0%; 
  text-align: center;
} 
section.camp-icon .icon p{
 color: white;
 font-size: 13px;
 text-align: center;
 font-family: "LXGW WenKai TC", cursive;
 margin-top: 10px;
} 
section.camp-icon .icon img{
 width: 50px;
 height: 50px;
}
section.camp-icon .button{
  text-align: center;
}
section.camp-icon .button input{
  width: 160px;
  height: 60px;
  background-color: #eb0099;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 18px;
  border: none;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  cursor: pointer;
}
section.camp-text{
  background-color: #eb0099;
  color: white;
}
section.camp-text .container{
  max-width: 800px;
  text-align: center;
  padding: 30px 2%;
}
section.camp-text .container h1{
  text-transform: uppercase;
  margin: 10px 0;
}
section.camp-text .container p{
  font-weight: 500;
}




    /*ESTILIZAÇÃO DO CAMPO DE DUVIDAS E DESCRIÇÃO*/
  h1.duvida{
    text-align: center;
    background-color: #ea45b0;
    padding: 30px;
    color: white;
    text-shadow:  2px 2px black;
  }
  section.container .duvidas{
    max-width: 700px;
    margin: 10vh auto;
  }
  section.container .duvida-single{
    border-radius: 25px;
    padding: 10%;
    background-color: #eb0099;
    color: white;
    margin: 10% 0;
  }
  section.container .img-single img{
    width: 100%;
    height:  50%;
    border-radius: 25px 25px 0 0 ;
  }
  section.container .img-single img{
    width: 100%;
    height:  50%;
    border-radius: 25px 25px 0 0 ;
  }
  section.container .descricao h6{
    display: inline-block;
    text-align: center;
    font-size: 17px;
    opacity: 0.7;
  }
  section.container .descricao p{
    padding: 20px;
    text-align: left;
    font-size: 17px;
    opacity: 0.7;
    font-size: 20px;
    margin-bottom: 5%;
  }
  section.container .descricao a{
    position: relative;
    left: 40%;
    bottom: 5%;
    padding: 20px;
    font-size: 17px;
    background-color:rgba(0, 0, 255, 0.686);
    border: 3px solid #eb0099;
    color: white;
    text-decoration: none;
    border-radius: 30px;
  }




    /*ESTILIZAÇÃO DO RODAPÉ*/
footer{
  background-color: #530c3c;
  color: rgba(255, 255, 255, 0.823);
  display: flex;
  text-align: center;
  padding: 10px 0 20px 0;
}
footer h2{
  font-weight: normal;
  padding: 20px 0;
}
footer p{
font-weight: lighter;
color: rgba(255, 255, 255, 0.46);
padding: 5px;
}
footer.footer-2{
  background-color: #800559;
  color: rgba(255, 255, 255, 0.823);
  text-align: center;
  padding: 10px 0;
}
footer.footer-2 h2{
  font-weight: normal;
  font-size: 19px;
}



  /*DESIGN RESPONSIVO*/
@media screen and (max-width: 1200px) {
  .prev{
      position: absolute;
      left: 15%;
    }
    .next {
      position: absolute;
      right: 15%;
    }
}

@media screen and (max-width: 1000px) {
  .prev{
      position: absolute;
      left: 7%;  
    }
    .next {
      position: absolute;
      right: 7%;
    }
}

@media screen and (max-width: 700px) {
  .prev{
      position: absolute;
      left: 0%;  
    }
    .next {
      position: absolute;
      right: 0%;
    }
}

@media  screen and (max-width: 850px){
    header .logo{
      display: inline-block;
    }
    header .logo img{
        float: none;
        display: flex;
    }
    header .desktop nav{
        display: none;
    }
    header .mobile nav{
        display: none;
    }
    section.container .duvidas{
      padding: 10%;
    }
    section.container .descricao a{
      left: 30%;
      bottom: 5%
    }
    header .mobile img{
      display: block;
  }
}