*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  font-family: "LXGW WenKai TC", cursive;
}


  /* CLASSES AUXILIARES */
.clear{
  clear: both;
}
.w33{
  float: left;
  width: 33.3%;
  display: inline-block;
}
.container{
max-width: 1480px;
width: 100%;
margin: 0 auto;
}
.lxgw-wenkai-tc-regular {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
}



/* ESTILIZAÇÃO DO CABEÇALHO E MENU */
header{
padding:20px 2%;
}
header .logo img{
float: left;
width: 236px;
}
header .desktop nav{
  float: right;
}
header .desktop nav ul{
  list-style-type: none; 
  position: relative;
  right: 10%;
}
header .desktop nav ul li{
  float: left;  
}
header .desktop nav ul li a{
  color: black;
  font-size: 22px;
  text-decoration: none;
  position: relative;
  top: 20px;
  padding: 30px;
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 300;
  color: #ea45b0;
}
header .desktop nav ul li:last-child a{
  color: white;
  padding: 20px;
  background-color: #eb0099;
  border-radius: 8px;
}
header .mobile > img{
  float: right;
  width: 40px;
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
header .mobile nav{
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
  padding: 2%;
  display: none;
}
header .mobile nav ul li{
 list-style-type: none;
 border: 2px solid rgb(61, 61, 61);
 margin:  1px;
 text-align: center;
}
header .mobile nav ul li a{
  text-decoration: none;
  font-size: 20px;
}




  

/*ESTILIZAÇÃO DO FORMULARIO ADICIONAR ANIMAL */
.add-animal{
    max-width: 1200px;
    background-color: blue;
    margin:  50px auto;
    border-radius: 25px;
    padding: 20px 2%;
}
.add-animal h1{
    text-align: center;
    color: white;
    padding: 10px;
}
  .add-animal input{
    width: 60%;
    height: 6vh;
    display: block;
    margin: 3vh auto;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    color: rgb(0, 0, 0);
  }
  .add-animal option{
    background-color: transparent;
    color: rgb(0, 0, 0);
  }
  .add-animal select{
    width: 40%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    height: 6vh;
    text-align: center;
    border-radius: 25px;
  }
  .add-animal button{
    width: 25%;
    display: block;
    margin: 5vh auto;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    border: none;
    cursor: pointer;
    padding: 10px 2%;
  }
  .add-animal input[type=file]{
   position: relative;
   left: 15%;
   margin: 3vh auto;
  }

  /*ESTILIZAÇÃO DO RODAPÉ */
footer{
  background-color: #530c3c;
  color: rgba(255, 255, 255, 0.823);
  display: flex;
  text-align: center;
  padding: 10px 0 20px 0;
}
footer h2{
  font-weight: normal;
  padding: 20px 0;
}
footer p{
font-weight: lighter;
color: rgba(255, 255, 255, 0.46);
padding: 5px;
}
footer.footer-2{
  background-color: #800559;
  color: rgba(255, 255, 255, 0.823);
  text-align: center;
  padding: 10px 0;
}
footer.footer-2 h2{
  font-weight: normal;
  font-size: 19px;
}




  /*DESIGN RESPONSIVO */
@media  screen and (max-width: 850px){
  header .logo{
      display: inline-block;
  }
  header .logo img{
      float: none;
      display: flex;
  }
  header .desktop nav{
      display: none;
  }
  header .mobile nav{
      display: none;
  }
  header .mobile img{
    display: block;
}
}